.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}
.dropdown-item {color: white!important;}
.dropdown-item:hover {color: black!important;}
.navbar-item {color: black; font-size: 16px; padding: 6px;}
.navbar-item .active{color: #0C3C60; font-size: 16px; padding: 6px; font-weight: bold;}
.navbar-item:hover {color: #D1E0EB; font-size: 16px;text-decoration:none;}
.infocard{background-color: #D1E0EB;}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}
.np {padding: 0%;}
.nm {margin: 0%;}
.ch {text-align: center;}
.rh {text-align: right;}
.max{max-height: 100%;max-width: 100%;width: auto;height: auto;}
.center-max{ 
    max-height: 100%;max-width: 100%;
    width: auto;
    height: 100%;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.circle{border-radius:999em;}
.frame{position: relative;}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
.ellipsis {
    font-size: 16px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.bg-max-center{
    background: no-repeat center center fixed;
    background-size: cover;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #f5f5f5;
  }